
/* calendar */
.testcss{color: red; }
.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#divTime1{
    display: inline-block;


}
#divTime2{
    display: inline-block;

}
.rounded-bord{

    border: 2px solid darkslategray;
    padding: 30px;
    border-radius: 8px;
}
.gold{
    background-color: palegoldenrod;
}
.diary-back{
    background-color: #afd9ee;
}
.diary-tr{
    background-color: #faebcc;
}

